body{
    background-color: #252B42; 
}
.reviews{
    background-color: #8EC2F2;
}
.hero{
    background-image: url();
    background-position: center;
}
.features{
    padding-top: 100px;
    padding-bottom: 100px;
}
.bottom{
    bottom: 200px;
}
.bottom-75{
    bottom: 75%;
}
.h{
    height: 0;
}
a{
    text-decoration: none;
    color: white;
}
.px-6{
    padding-left: 4rem!important;
    padding-right: 4rem!important;
}
.fs-0{
    font-size: calc(2rem + 2vw);
}
.lh{
line-height: calc(2rem + 2vw);
}
@media only screen and (min-width:992px){
.pricing h3{
    font-size: calc(2rem + 2vw)!important;
}
.btn-lg-outline-white{
    border: solid 1px #fff!important;
    color: #fff;
}
.btn-lg-outline-white:hover{
    background-color: #fff;
    color: #000;
}
header{
    background-color: transparent;
}
.fs-lg{
    font-size: 1.5vw!important;
}
.h-lg{
    height: auto!important;
}
h3,h1{
    font-size: 2vw;
}

h2{
    font-size: 4.5vw!important;
}
.hero h4{
    width: 40%!important;
}
.mvw-lg-100{
    max-width: 100vw;
}
.header{
    height: 0;
    z-index: 1;
}
.bottom{
    bottom: 45%;
}
.hero img{
    height: auto!important;
}
.footer a{
    font-weight: 500;
}
.fill-lg-white{
    fill: white;
}
.fill-lg-primary{
    fill: #23A6F0;
}
.bg-lg-white{
    background-color: #fff;
}
.text-lg-black{
    color: #000;
}
.text-lg-nowrap{
    white-space: nowrap;
}
} 
